.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppBox {
  border: #333 solid 1px;
  height: 120px;
  width: 720px;
  position: relative;
  background-color: #fff;
}

.AppTitle {
  line-height: 40px;
  padding-left: 6px;
  position: absolute;
  top: 0;
  left: 120px;
  width: 600px;
  vertical-align: middle;
}

.AppTitle h3 {
  font-size: 18px;
  font-weight: bold;
}

.AppBrief {
  height: 60px;
  width: 600px;
  position: absolute;
  top: 40px;
  left: 120px;
  overflow: hidden;
}
.AppBrief p { padding-left: 6px; }

.AppMeta {
  height: 20px;
  width: 600px;
  position: absolute;
  top: 100px;
  left: 120px;
  font-size: 11px;
  line-height: 20px;
  vertical-align: middle;
}
